.select-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.select-label {
  margin-bottom: 5px;
  font-size: var(--font-size-md);
  font-family: var(--font-weight-medium);
  color: var(--color-secondary-800);
}

.select-element {
  padding: 10px;
  font-size: var(--font-size-md);
  box-sizing: border-box;
  /* Grey/Grey 200 */
  border: 1px solid rgb(185, 189, 199);
  border-radius: 8px;
}
