.content {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: red;
    border-radius: 10px;
}

.content:hover {
    border-color: blue;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}