.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  max-width: 1020px;
  padding: 10px 24px;
}

.prev-btn:disabled,
.next-btn:disabled {
  cursor: not-allowed;
  box-sizing: border-box;
  border: 1px solid #667085;
  border-radius: var(--border-radius-sm);
  opacity: 0.2;
}

.page-btn {
  padding: 12px 16px;
  margin-right: 3px;
}

.page-btn:hover {
 
  transition: background-color 0.3s ease;
  background-color: var(--color-secondary-50) !important;
  color: var(--color-primary-600) !important;
}

.prev-btn,
.next-btn {
  padding: 10px 16px;
}

.wrap-page-btn {
  display: flex;
}
