.wrap-label-title {
  display: flex;
  width: 100%;
  max-width: 1020px;
  justify-content: space-between;
  padding-top: 25px;
}

.wrap-label-title-text {
  display: flex;
  width: 100%;
  max-width: 417px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.label-title-one {
  width: 30%;
}

.label-title-second {
  width: 38%;
}

.label-title-third {
  width: 27%;
}

.label-title {
  padding: 8px 15px;
  box-sizing: border-box;
  /* Grey/Grey 300 */
  border: 1px solid rgb(152, 159, 173);
  border-radius: var(--border-radius-big);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  height: 36px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary-600);
}

.label-title:hover {
  /* Primary/Primary 500 */
  border: 1px solid rgb(21, 112, 239);
  background: var(--color-primary-100);
  color: var(--color-primary-600);
}
