.wrap-table {
  margin-top: 20px;
  /* Primary/Primary 50 */
  border: 1px solid #d4e5fa;
  border-radius: var(--border-radius-sm);
  max-width: 1020px;
}

.wrap-table-title {
  display: flex;
  width: 100%;
  max-width: 1020px;
  list-style: none;
  background-color: var(--color-primary-100);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 24px;
  margin: 0;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-secondary-500);
}

.table-row-one {
  width: 15%;
}

.table-row-second {
  width: 20%;
}

.table-row-third {
  width: 15%;
}

.table-row-four {
  width: 28%;
}

.table-row-five {
  width: 17%;
}

.wrap-table-content {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1020px;
}

.item {
  list-style: none;
  padding: 27px 24px;
}

.item.table-row-one {
  color: var(--color-secondary-900);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
}

.item.table-row-second,
.item.table-row-third,
.item.table-row-four {
  color: var(--color-secondary-600);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
}

.action {
  list-style: none;
  padding: 27px 24px;
}

.dropdown-menu {
  position: absolute;
  background-color: var(--color-transparent);
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(57, 56, 56, 0.466);
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 100;
  border-radius: var(--border-radius-sm);
}

.action-btn {
  padding: 4px 8px;
  cursor: pointer;
  background-color: var(--color-primary-500);
  color: var(--color-transparent);
  border: none;
  border-radius: 4px;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  transition: background-color 0.3s ease;
}

.action-btn:hover {
  background-color:  var(--color-primary-800);
}
