* {
  box-sizing: border-box;
}

.wrap-sidebar-link {
  list-style: none;
  width: 200px;
  margin-bottom: 10px;
}

.sidebar-logo {
  padding-bottom: 32px;
  margin: 0;
}

.sidebar-container {
  padding-left: 12px;
}

.wrap-sidebar-link a {
  text-decoration: none;
}

.sidebar-link {
  padding: 8px 12px 8px 12px;
  align-items: center;
  display: flex;
  font-weight: var(--font-weight-medium);
  color: var(--color-secondary-600);
  font-size: var(--font-size-md);
}

.sidebar-link:hover {
  background-color: var(--color-primary-100);
  border-radius: var(--border-radius-sm);
  color: var(--color-primary-600);
}

.list-sidebar-link {
  padding: 0;
  margin: 0;
}

.sidebar-icon {
  margin-right: 12px;
}