.wrap-rate-table-title {
  display: flex;
  width: 100%;
  max-width: 1020px;
  list-style: none;
  background-color: var(--color-primary-100);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 24px;
  margin: 0;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-secondary-500);
  gap: 7px;
}

.rate-table-row-one,
.rate-table-row-second,
.rate-table-row-third,
.rate-table-row-four,
.rate-table-row-five,
.rate-table-row-six {
  width: 15%;
}

.rate-action {
  width: 10%;
  list-style: none;
  padding: 25px 24px;
}

.item.rate-table-row-one,
.item.rate-table-row-six {
  color: var(--color-secondary-900);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
}
.item.rate-table-row-second,
.item.rate-table-row-third,
.item.rate-table-row-four {
  color: var(--color-secondary-600);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
}
